<div class="min-h-screen flex items-center justify-center bg-[#f8fafd] px-4">
  <div
    class="max-w-lg w-full mx-auto bg-white dark:bg-[#ffffff] rounded-xl shadow-2xl py-10 px-14 flex flex-col items-center"
  >
    <h1
      class="text-xl font-bold text-center text-black dark:text-dark mb-8 mt-5"
    >
      Iniciar Sesión
    </h1>
    <form
      [formGroup]="form"
      (submit)="submitLogin()"
      class="w-full flex flex-col gap-4"
    >
      <div class="flex items-start flex-col justify-start">
        <label for="email" class="text-sm text-gray-700 dark:text-dark mr-2"
          >Email</label
        >
        <input
          type="email"
          id="email"
          name="email"
          formControlName="email"
          autocomplete="username"
          placeholder="Email"
          class="w-full px-3 dark:bg-white py-2 rounded-md border border-gray-300 dark:border-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-500"
        />
        <div
          *ngIf="form.get('email')?.touched && form.get('email')?.errors"
          class="text-red-500 text-sm"
        >
          Este campo debe ser un correo valido
        </div>
      </div>

      <div class="flex items-start flex-col justify-start">
        <label for="password" class="text-sm text-gray-700 dark:text-dark mr-2"
          >Password:</label
        >
        <input
          type="password"
          id="password"
          placeholder="Password"
          formControlName="password"
          autocomplete="current-password"
          name="password"
          class="w-full px-3 dark:bg-white py-2 rounded-md border border-gray-300 dark:border-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-500"
        />
      </div>

      <button
        type="submit"
        class="rounded-mt-3 bg-[#006eff] hover:bg-blue-600 text-white font-medium py-2 px-4 mt-6 rounded-md shadow-sm"
        *ngIf="!$loading(); else loadingContent"
      >
        Acceder
      </button>
      <div *ngIf="errorMensaje" class="text-red-500 text-sm mt-1">
        {{ errorMensaje }}
      </div>

      <ng-template #loadingContent>
        <button
          class="hover:text-[#000000] rounded-mt-3 bg-[#FFFFFF] rounded-lg text-sm px-6 py-2.5 mb-2"
        >
          <app-spinner></app-spinner>
        </button>
      </ng-template>
    </form>

    <div class="mt-4 text-center">
      <span class="text-sm text-dark">Necesitas una cuenta? Registrate! </span>
      <a routerLink="/register" class="text-blue-500 hover:text-blue-900"
        >Registrate</a
      >
    </div>

    <button
      type="button"
      (click)="accederComoInvitado()"
      class="bg-green-500 hover:bg-green-900 text-white font-medium py-2 px-4 mt-6 rounded-md shadow-sm"
    >
      Acceder como invitado
    </button>
  </div>
</div>
